<nav class="flex justify-around items-center bg-red-50 max-h-40 h-16 w-full flex-wrap">
    <div class="flex items-center justify-center gap-2 cursor-pointer" onclick="location.href = '/api/v1'">
        <img class="w-6 h-6" src="/assets/favicon.svg" alt="" srcset="">
        <h1 class="font-bold text-2xl">quizPedia</h1>
    </div>
    <!-- <div class="font-semibold text-xl text-center">General Knowledge#123</div> -->
    <a href="https://github.com/sDaCoder/react-express-ejs-quizPedia" target="_blank">
        <img src="/assets/github-mark.png" class="w-8 h-8" alt="" srcset="">
    </a>
</nav>