<nav class="flex justify-around items-center bg-red-50 max-h-40 h-16 w-full flex-wrap">
    <div class="flex items-center justify-center gap-2">
        <img class="w-6 h-6" src="/assets/favicon.svg" alt="" srcset="">
        <h1 class="font-bold text-2xl">quizPedia</h1>
    </div>
    <div class="font-semibold text-xl text-center">General Knowledge#123</div>
</nav>