<div class="max-w-sm w-full bg-red-50 border-b rounded-lg shadow-sm p-4 md:p-6">

    <div class="flex justify-between items-start w-full">
        <div class="flex-col items-center">
            <div class="flex items-center mb-1">
                <h5 class="text-xl font-bold leading-none text-gray-900 me-1">Your Score</h5>
            </div>
        </div>
    </div>

    <!-- Line Chart -->
    <div class="py-6" id="pie-chart"></div>
</div>
