<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-red-100 select-none">
    <hr id="scrollHr" class="block md:hidden w-[5vw] bg-green-500 h-[6px] z-[101] fixed top-0 left-0 rounded-r transition ease-in delay-400">
    <%- include ('./partials/header.ejs') %>

    <form method="POST" action="/api/v1/<%= category %>">

        <!-- The Progress Bar -->
        <!-- <div class="flex justify-center items-center md:hidden">
            <div class="bg-gray-300 w-4/5 rounded-xl overflow-hidden">
                <div class="bar bg-green-500 h-4 transition-all ease-in-out"></div>
            </div>
            <p class="qLabel ml-2 font-semibold text-lg">1/5</p>
        </div> -->
        
        <div class="flex flex-col justify-center" style="padding: 2rem; gap: 2rem 0;">
            <%- include ('./partials/question-card.ejs') %>
        </div>

        <%- include ('./partials/footer.ejs') %>
    </form>
</body>
<script>
        
    let options = document.querySelectorAll(".options")
    let radios = document.querySelectorAll('input[type="radio"]')

    function colourOpt(option) {
        if (option.previousElementSibling.checked == true) {
            option.parentElement.style.backgroundColor = 'rgb(34 197 94)'
            option.style.color = 'white'
            option.previousElementSibling.previousElementSibling.style.backgroundColor = 'rgb(254, 242, 242)'
        }
        else {
            option.parentElement.style.backgroundColor = ''; // Reset the background color if the radio button is not checked
            option.style.color = ''
            option.previousElementSibling.previousElementSibling.style.backgroundColor = ''
        }

    }

    radios.forEach(radio => {
        radio.addEventListener('click', function () {
            options.forEach(option => colourOpt(option))
        })
    })

    window.addEventListener("scroll", function() {
        let scrollTop = window.scrollY;
        let documentHeight = document.documentElement.scrollHeight - window.innerHeight;
        let scrollPercentage = (scrollTop / documentHeight) * 95; // Increase width dynamically

        let newWidth = 5 + scrollPercentage; // Start from 20% and grow
        document.getElementById("scrollHr").style.width = newWidth + "%";
        document.getElementsByClassName("bar")[0].style.width = newWidth + "%";
    });

</script>
</html>